* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    font-family: Helvetica;
    width: 100%;
    height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
}

.leftNav img{
    width: 220px;
    margin-left: 45px;
    padding-top: 20px;

}
nav{
    padding-top: 35px;
}

ul{
    margin-right: 40px;
}

nav li{
    display: inline-block;
}

nav li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 20px;
}

section{
    clear: both;
    text-align: center;
}

.slogan {
    padding-top: 30px;
    padding-bottom: 30px;
}


.slogan h2{
    font-size: 5em;
    margin-bottom: -10px;
}

.slogan p{
    font-weight: 500;
    font-size: 1.5em;
}

.video img{
    width: 100%;
    margin-bottom: -5px;
}

footer{
    background-color: black;
    color: white;
    
}

.download{
    padding-top: 30px;
    margin: 0 auto;
}

.stores{
    text-align: center;
    float: right;
    padding-right: 10%;
}

.stores a img{
    width: 150px;
    padding: 10px;
}

.downLink{
   display: inline-block;
   padding-left: 10%;
}

.downLink h2 {
    padding: 7px;
}

.downLink img{
    width: 450px;
}

.downLink p{
    font-size: 10px;
    text-align: center;
    padding: 7px;
}

hr{
    margin-top: 60px;
    margin-bottom: 30px;
}


#lists {
    clear: both;
    display: flex;
}

#lists ul {
    padding-left: 15px;
    padding-right: 10px;
}

#lists ul li{
    list-style-type: none;
}

#lists ul li a{
    text-decoration: none;
    color: lightgrey;
    font-size: 15px;
    
}

#lists h3{
    font-size: 15px;
}

#lists img{
    margin-left: 80px;
    width: 180px;
}

.copyRights{
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 50px;
}

#lang{
    margin-left: 60px;
    margin-bottom: 30px;
}

#person{
    margin-right: 60px;
    margin-bottom: 30px;
}

#lang {
    background-color: black;
    color: white;
    border: black;
}